<footer class="c-page__footer">
  <p>&copy; {{ site.author }} {{ 'now' | date: '%Y' }}</p>
  <p>
    {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
    {% endif %}
    {% if site.mastodon_username %}
        <span class="u-separate"></span>
    {% endif %}
    {% if site.mastodon_username %}
        <a href="https://mastodon.online/@{{ site.mastodon_username }}">Mastodon</a>
    {% endif %}
    {% if site.github_username %}
        <span class="u-separate"></span>
    {% endif %}
    {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}">GitHub</a>
    {% endif %}
  </p>
</footer>
