{{ define "main" }}
<div class="c-page">
  {{ partial "header.html" . }}
  <div class="c-page__main">
    <section class="c-archives" aria-label="Blog posts">
      <ul class="c-archives__list">
        {{ range .Pages }}
        <li class="c-archives__item">
          <h3>
            <a class="_override_border" href="{{ .Permalink }}">{{ .Title }}</a>
          </h3>
          <div class="c-archives__meta">
            <small>{{ .Description }}</small>
            <time class="c-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
          </div>
        </li>
        {{ end }}
      </ul>
    </section>
  </div>
</div>
{{ end }}
