/* ==========================================================================
   Variabeles
   ========================================================================== */

$c-base__03: #0D2B35;
/* $c-base__02: #163541; */
$c-base__00: #000000;
$c-base__01: #000000;
$c-base__02: #000000;
$c-base__0: #000000;
$c-base__1: #000000;
$c-base__2: #000000;
$c-base__3: #000000;

$c-accent__blue: #0067FB;
// $c-accent__text: #5C6E74;
$c-accent__text: #163541;
$c-accent__grey: #797979;
$c-accent__darkblue: #0029F9;
$c-accent__green: #8BE367;

// Breakpoints
$bp__sm: 45rem; // 450px

// Misc
$m-border: 1px solid $c-base__2;
